.Container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.giftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.checkoutButtonContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
}

.cleanCart {
  display: flex;
  justify-content: flex-end;
}

.giftName {
  padding-inline: 1rem;
}

.giftImage {
  height: 8rem;
}

.checkoutButton {
  height: 2.4rem;
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--peach);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
}

.giftSteppersContainer {
  width: 16rem;
  padding-inline: 2rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.giftSteppers {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  background-color: var(--peach);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.giftSteppers:disabled {
  background-color: rgba(200, 200, 200, 0.5);
  cursor: not-allowed;
}

.giftRemoveItem {
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: underline;
  align-self: flex-end;
}


.giftQuantity {
  font-weight: bold;
  font-size: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
}

.giftPrice {
  width: 150px;
  font-weight: bold;
  font-size: 1.4rem;
}
