.mobileMenu {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.mobileMenuNavClosed {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.mobileMenuNavOpened {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0.9rem;
  position: relative;
  padding: 1rem;
  background-color: #fefefe;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hamburgerText {
  flex: 1;
  align-items: center;
  font-size: 2rem;
}

.menuItems {
  display: flex;
  background-color: var(--peach);
  padding-inline: 2rem;
  justify-content: center;
  height: 4rem;
}

.internalContainer {
  display: flex;
  padding-inline: 2rem;
  justify-content: center;
  max-width: 80vw;
}

.menuOption {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuOption:hover {
  background-color: var(--peachLighter);
}

.sectionLink {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

@media (width < 900px) {
  .sectionLink {
    color: var(--peach);
    font-size: 1.8rem;
    text-decoration: none;
  }
}

.checkoutButtonContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.cartPriceText {
  font-weight: bold;
  font-size: 1.5rem;
}

.checkoutButton {
  height: 3.4rem;
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--peach);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
}
