.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.card>img {
    max-height: 20rem;
    max-width: 30rem;
}

.card>p {
    font-size: 1.5rem;
    flex: 1;
    max-width: 30rem;
    text-align: center;
    color: var(--peach);
}