.giftsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-inline: 1rem;
}

.giftsSectionTitle {
    font-weight: normal;
    text-align: center;
    color: var(--rust);
}

.giftsSection>h3 {
    font-weight: normal;
    text-align: center;
    color: var(--rust);
}

.giftsSection>h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

.giftsSectionButtons {
    display: flex;
    gap: 2.25rem;
    padding-top: 2rem
}


.giftsSectionButtons>button {
    padding-inline: 2rem;
    background-color: var(--rust);
    border-radius: 4px;
    border-width: 0px;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    height: 3.5rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding-top: 1.2rem;

}

.disclaimer {
    padding-top: 0.25rem;
    color: var(--rust);
}

.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.giftDescription {
    font-size: 1.2rem;
    color: var(--rust);
}

.giftPrice {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--peach);
}