.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.modalContent {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-width: 1px;
    border-color: var(--peach);
    border-style: solid;
    border-radius: 4px;
}

.closeIcon {
    align-self: flex-end;
    right: 100px;
}

.closeIcon:hover {
    background-color: var(--peackDarker);
}

.scrollArea {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 0.5rem;
}


