.dressCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-inline: 2rem;

}

.dressCode>p {
    font-size: 3rem;
    text-align: center;
    color: var(--rust);
}

.dressCodeTips {
    text-align: center;
    color: var(--rust);
    font-size: 1.5rem;
}

@media screen {
    .dressCodeTips {
        max-width: 80vw;
    }
}

.images {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}

.images>img {
    height: 100%;
    width: 100%;
}