.fiancesDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.fiancesDisplay>img {
    max-width: 50vw;
}

.fiancesTextTitle {
    font-size: 2rem;
    max-width: 70vw;
    padding: 1rem;
    color: var(--rust);
}

.fiancesText {
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    max-width: 70vw;
    color: var(--peach);
}