.fiancesDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.fiancesDisplay>img {
    max-width: 50vw;
}

@media (max-width: 900px) {
    .fiancesDisplay>img {
        max-width: 90vw;
    }
}

.fiancesTextTitle {
    font-size: 2rem;
    padding: 1rem;
    color: var(--rust);
    text-align: center;
}

.fiancesText {
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--peach);
}