.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.form>p {
    font-size: 4rem;
    text-align: center;
    color: var(--rust);
}

.name {
    color: var(--rust);
    font-size: 2rem;
}

.message {
    color: var(--rust);
    font-size: 2rem;
}

.submitButton {
    padding-inline: 2rem;
    height: 3rem;
    background-color: var(--rust);
    border-radius: 4px;
    border-width: 0px;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}

form > div >input, textarea {
    border-color: var(--peach);
    box-sizing: content-box;
    background-color: var(--peachLighter);
    border-radius: 4px;
    border-width: 0px;
    padding: 1rem;
}

@media (width >= 900px) {
    form > div >input {
        font-size: 1.8rem;
        height: 20px;
        width: 60vw;

    }
    form > div >textarea {
        font-size: 1.8rem;
        height: 100px;
        width: 60vw;
    }
}

@media (width < 900px) {
    form > div> input {
        font-size: 1.5rem;
        width: 90vw;
    }
    form > div > textarea {
        font-size: 2.5rem;
        width: 90vw;
        height: 100px;
    }
}
